<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <div class="media-right">
        <%= render @user.posts.favorite %>
      </div>
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<% if detect %>Posts<% end %>
<%= render @user.posts %>

<% if detect %>Comments<% end %>
<%= render @user.comments %>
